<div class="example-container" style="border: 2px solid black; padding: 16px; border-radius: 16px;">
  <!-- Following div is for holding the items-->
  <div>
    <h2>What do you think we...</h2>
    <h4>Drag a topic into a white box to populate the field</h4>
    <div class="example-list">
      <div class="example-box" *ngFor="let item of items"
        style="font-size: 20px; font-weight: bold; border-radius: 16px; background-color: lightgrey; margin-top: 10px; margin-bottom: 10px; padding: 8px;">
        <!-- placeholder for the item that will be injected by angular -->
        {{item}}
        <div cdkDropList [cdkDropListData]="item"
          style="border: 1px black solid; height: 40px; width: 100px; border-radius: 10px; background-color: white; "
          (cdkDropListDropped)="drop($event)">
        </div>
      </div>
    </div>
  </div>

  <!-- Following div is for holding the chips -->
  <div cdkDropList [cdkDropListData]="topic" cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropTopic($event)">
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="Topic selection">
        <mat-chip *ngFor="let topic of topics" [selectable]="selectable" [removable]="removable"
          (removed)="remove(topic)" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>{{topic.name}}
        </mat-chip>
        <input placeholder="New topic ..." [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
</div>